@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url(variables.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -----Global Styles----- */
body {
    font-family: var(--maint-font);

}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img,
video {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
}

.d-flex {
    display: flex;
}

.items-center {
    align-items: center;
    justify-content: center;
}

.self-center {
    margin: 0 auto;
}

.vertical-align {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.content-wrap {
    padding: 0 20px;
    width: 100%;
    max-width: 1210px;
    margin: 0 auto;
}

.hide,
a.hide-mobile {
    display: none;
}

.text-center {
    text-align: center;
}

/* -----End of Global Styles----- */

.header-section {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(213, 32, 71, .7) 0%, rgba(238, 61, 27, .7) 100%),
        url(../img/main-bg.jpg);
}

.main-header {
    align-items: center;
    height: 60px;
}

.main-header nav {
    width: 100%;
}


.logo-img {
    width: 29px;
    height: 29px;
}

.logo-title {
    display: none;
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--white-color);
    text-transform: uppercase;
    margin-left: 10px;
}

.menu-container {
    margin-left: auto;
    margin-right: 10px;
}


.header-menu {
    position: absolute;
    top: 60px;
    background-color: var(--main-color);
    width: 100vw;
    height: calc(100vh - 60px);
    flex-direction: column;
    gap: 30px;
    left: 0;
    transition: all .5s ease;
}

.header-menu-hide {
    height: 0;
    overflow: hidden;
    transition: all .5s ease;

}

.header-menu li {
    width: 100%;
}

.header-menu a {
    display: block;
    padding: 10px;
    font-size: 1.25em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);

}



.burger-icons {
    font-size: 1.25em;
    color: var(--white-color);
    cursor: pointer;

}

.logo-link {
    text-decoration: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.875rem;
}

.mobile-icon {
    font-size: 1.25em;
    color: var(--white-color);
}

.btn__transparent {
    width: 100px;
    height: 40px;
    border: 1px solid var(--white-color);
    background-color: transparent;
    color: var(--white-color);
}

.btn-fill {
    width: 160px;
    height: 50px;
}

.btn-fill-white {
    background-color: var(--white-color);
    color: var(--main-color);
}

.btn-fill-white:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}

.btn-fill-red {
    background-color: var(--main-color);
    color: var(--white-color);
}

.btn-fill-red:hover {
    background-color: var(--white-color);
    color: var(--main-color);
}

.header-section-content {
    margin: auto;
    color: var(--white-color);
}

header.title {
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 5%;
    text-align: center;
}

p.subtitle {
    margin-bottom: 40px;
    font-size: .865rem;
    line-height: 150%;
    text-align: center;

}
.input{
    display: block;
}

/* --------------Main Content---------------- */
.media-section {
    padding: 40px 0;

}

.media-section-item {
    width: 100%;
}

.section-title {
    margin-bottom: 24px;
    font-size: 1.5rem;
}

.section-content {
    margin-bottom: 12px;
    line-height: 140%;
    font-size: 0.875rem;

}

.link {
    font-size: 14px;
    text-decoration: none;
    color: var(--main-color)
}

.media-wrapper {
    position: relative;
    max-width: 445px;
    margin: 0 auto;

}

.media-wrapper video,
.media-wrapper img {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.play-btn {
    position: absolute;
    top: calc(50% - 18px);
    left: calc(50% - 18px);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--main-color);
    font-size: .7rem;
    color: var(--white-color);
    cursor: pointer;
}

.media-section-item:first-child {
    margin-bottom: 24px;
}

.section-bg {
    padding: 32px 0 62px;
    background-color: var(--bg-color);
}

.section-bg .section-title {
    margin-bottom: 32px;
}

.row {
    flex-direction: column;
    align-items: center;
}

.row-item {
    width: 100%;
    max-width: 350px;
    height: 250px;
    border-radius: 8px;
}

.row-item {
    margin-bottom: 120px;
}

.row-item-feature-bg1 {
    background-image: url("../img/feature-bg-1.jpg");

}
.row-item-feature-bg2 {
    background-image: url("../img/feature-bg-2.jpg");

}
.row-item-feature-bg3 {
    background-image: url("../img/feature-bg-3.jpg");

}

.row-item-feature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 157px auto 0;
    max-width: calc(100% - 56px);
    min-height: 198px;
    padding: 32px 20px 24px;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

.row-item-feature h3,
.list-item-wrap h3 {
    font-weight: 700;
    font-size: 1.125rem;
}

.row-item-feature p,
.row-item-feature a.link,
.list-item-wrap p {
    font-size: .75rem;
}

.row-item-feature a.link {
    font-weight: 700;
}

.section-technology {
    padding: 32px 0 52px;
}

.row-4-item {
    height: 225px;
}

.row-4 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.col {
    width: 100%;
}
.list-item-wrap{
    position: relative;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}
.list-item-wrap h3 {
    margin-bottom: 10px;
}
.list-item-number{
    line-height: 100%;
    font-weight: 700;
    font-size: 6.25rem;
    color: #10101014;
    margin-bottom: 20px;
}
.list-item-icon{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
}
.media-section-bg{
    background: #ed4c5c;
    color: var(--white-color)
}
.social-links-row a{
    margin-right: 23px;
    color: var(--white-color);
    text-decoration: none;
    font-size: 32px;

}
.section-form{
    padding: 60px 0 40px;
}
.section-form input:not([type="submit"]),
.section-form select{
    width: 100%;
    margin-bottom: 24px;
    padding: 20px 30px;
    border: 1px solid #333333;
}

.section-form input,
.section-form select{
    border-radius: 6px;
}
.section-form select{
    background-color: transparent;
}
.section-form input[type="submit"]{
   padding: 16px 34px;
   border: none;
   outline: none;
}
footer {
    padding: 40px 0;
    font-size: 0.875em;
    text-align-last: left;
    background-color: var(--bg-color);
    
}
footer .list-item-wrap h3{
    margin-bottom: 32px;
}
address{
    font-style: normal;
}
footer a{
    line-height: 160%;
    color: #000;
    text-decoration: none;
}
.footer-icons {
    margin-top: 20px;
    column-gap: 12px;
}
footer .list-item-wrap {
    max-width: 100%;
    width: 100%;
}


/* ------------- End Of Main Content------------- */

/* --------Media Queries-------- */
@media all and (min-width: 562px) {
    .col-1-2 {
        width: calc(50% - 15px);
    }
    .section-form form{
        max-width: 540px;
        
    }
}

@media all and (min-width: 768px) {
    .logo-title {
        display: block;
    }

    .a.hide-mobile {
        display: flex;
    }

    .hide-desktop {
        display: none;
    }

    .header.title {
        font-size: 3rem;
    }

    .p.subtitle {
        font-size: 1.5rem;
    }

    .row {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }

    .col-1-3 {
        width: calc(33.333333% - 20px);
    }
    .form-element-row {
        display: flex;
        column-gap: 30px;
    }
}


@media all and (min-width: 1024px) {
    .main-header {
        height: 100px;
    }

    .header-menu-hide {
        height: auto;
        overflow: hidden;
        transition: all .5s ease;

    }

    .header-menu {
        position: static;
        width: 100%;
        height: auto;
        flex-direction: row;
        gap: 30px;
        transition: none;
        background-color: transparent;
    }



    .header-menu li {
        width: 100%;
    }

    .header-menu a {
        display: block;
        font-size: .875rem;
        text-align: center;
        color: var(--white-color);

    }

    .menu-container {
        margin-left: 0;
        margin-right: 0px;
    }

    .burger-icons {
        display: none;
    }

    .main-header .content-wrap {
        justify-content: space-between;
    }

    .media-section {
        display: flex;
        padding: 95px 0;
        max-width: 1210px;
        margin: 0 auto;
        align-items: end;
    }

    .media-section-item:first-child {
        margin-bottom: 0;
        max-width: 445px;
    }

    .play-btn {
        width: 66px;
        height: 66px;
        top: calc(50% - 33px);
        left: -32px;
        font-size: 1rem;
    }

    .media-wrapper {
        height: 310px;
    }

    .media-wrapper video {
        height: 100%;
        object-fit: cover;
    }

   
   

    .section-title {
        margin-bottom: 48px;
        font-size: 2.125rem;
    }

    .section-content {
        margin-bottom: 24px;
    }

    .section-bg {
        padding: 64px 0 124px;
    }

    .section-bg .section-title {
        margin-bottom: 64px;
    }

    .section-technology {
        padding: 64px 0 104px;
    }

    .col-1-4 {
        width: calc(25% - 22.5px);
    }
    .section-form{
    padding: 120px 0 80px;
    }
    .section-form.media-section{
            align-items: start;
    }
    .section-form form{
        
        margin-left: auto;
    }
    footer{
        padding: 86px 0;
    }

}

@media all and (min-width: 1136px) {

    .media-section {
        padding: 95px 0;
    }
}


/* --------End of Media Queries-------- */