* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1440px;
    font-family: 'Inter', sans-serif;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: 100%;
}

.object-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.d-flex {
    display: flex;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.d-flex-row {
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 810px;
    background-color: #5F93C0;
    color: white;
    overflow-x: hidden;
}

.header-menu {
    width: calc(100% - 80px);
    height: 80px;
    background-color: #fff;
    margin: 40px;
    padding: 40px;
    border-radius: 22px;
    display: flex;
    align-items: center;
}

.header-menu a:first-child {
    width: 100%;
    height: 26px;
    display: flex;
    align-items: center;
    color: #1E1E1E;

}

.header-menu-item {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 19px;
    margin-right: 40px;
    color: #000000;
    text-decoration: none;
    white-space: nowrap;

}

.btn {
    background-color: #283849;
    color: white;
    border-radius: 12px;
    padding: 12px 24px;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

}

.header-message {
    width: 100%;
    max-width: 520px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-message h1,
.automated-booking h2 {
    width: 100%;
    height: 100px;
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;
    margin-top: 20px;
    text-align: center;
}

.header-message p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.header-message :last-child {
    font-size: .75rem;
    width: 100%;
    height: 20px;
    margin-top: 10px;
}

.carousel {
    width: 100%;
    max-width: 1440px;
    position: relative;
}

.carousel-track {
    display: flex;
    gap: 20px;
    cursor: grab;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel img {
    width: calc(1440px / 3.5);
    max-width: 1440px;
    height: auto;
    max-height: 244px;
    pointer-events: none;
}

.play-btn-wrap {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    margin-left: 28px;
}

.play-btn {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    background-color: #7fa9cd;
    border-radius: 12px;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
}

.play-btn i {
    font-size: 0.5rem;

}

.play-btn-wrap a {
    text-decoration: none;
    color: #fff;
}

.play-btn-wrap :hover {
    cursor: pointer;
}


.tiles-section-wrap {
    max-width: 1440px;
    max-height: 1566px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}

.tiles-content-wrap {
    width: 100%;
    max-width: 928px;
    height: 1436px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tile {
    background-color: #F4F4F4;
    border-radius: 22px;
    flex-wrap: wrap;
}

.tiles-text {
    max-width: 403px;
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tile-text-landscape {
    max-width: 464px;
    height: 386px;
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.tile-text-book {
    max-width: 454px;
    height: 277px;
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tile-text-landscape p,
.tile-text-book p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 25px;
}

.tile-text-landscape h2,
.tile-text-book h2,
.appointment h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 24px;
}

.landscape {
    width: 100%;
    height: auto;
    min-height: 386px;
}

.book {
    max-width: 454px;
    height: 602px;
}


.tiles-text h2 {
    font-size: 1.5rem;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.tile-img {
    max-width: 463px;
    height: 100%;
    border-radius: 22px;
}

.tile-img img {
    border-radius: 22px;

}

.automated-booking {
    max-width: 928px;
    height: 1032px;
    color: #000000
}

.automated-booking h2 {
    width: 527px;
    height: 120px;
    margin: 0 auto;
    padding-top: 200px;
}

.automated-booking p {
    width: 527px;
    height: 77px;
    padding-top: 118px;
    margin: 0 auto;
    text-align: center;
}

figure {
    width: 718px;
    height: 552px;
    border-radius: 22px;
    margin: 17% auto;
}

.row-feature {
    width: 100%;
    max-width: 1281px;
    height: 140px;
    margin-top: 80px;
    margin-left: 125px;
}

.row-feature h2 {
    width: 580px;
    height: 130px;
    padding-right: 190px;
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;
    display: flex;
    align-items: flex-end;
}

.row-feature p {
    width: 489px;
    height: 55px;
    font: 'Avenir Next', sans-serif;
    font-weight: 400;
    line-height: 26px;
    color:#1E1E1E;
}
.row-feature-content{
    align-items: end;
} 


   


/* -----------/ Second Carousel Styles /-------- */

.custom-carousel {
    position: relative;
    width: 100vw;
    max-width: 1281px;
    min-height: 340px;
    margin-top: 60px;
    overflow: hidden;
    border: 1px solid red;
}

.custom-carousel-track {
    position: relative;
    display: flex;
    top: 50px;
    transition: transform 0.5s ease-in-out;
    gap: 20px;
}

.custom-carousel-item {
    min-width: 350px;
    height: 240px;
}

.carousel-prev, .carousel-next {
    position: absolute;
    right: 20px;
    border: none;
    cursor: pointer;
    font-size: 24px;
    text-decoration: none ;
}

.carousel-prev {
    right: 70px;
}

.carousel-counter {
    position: absolute;
    right: 120px;
    font-size: 18px;
    padding: 5px 10px;
}
.carousel-caption{
    width: 350px;
    position: absolute;
    bottom: -30px;
    justify-content: center;
    font-size: 0.875rem;
    color: #000000;
    padding-left: 10px;
}


/* -----------/ End of Second Carousel Styles /-------- */

.table-feature{
    width: 100%;
    max-width: 1164px;
    min-height: 428px;
    flex-wrap: wrap;
    column-gap: 35px;
    justify-content: space-between;
    margin-top: 64px;
    font: 'Avenir Next', sans-serif;
}
.table-feature-item{
    width: 244px;
    height: 165px;
}
.table-feature-item h3{
    font-size: 1.313rem;
    font-weight: 400;
    line-height: 28px;
    color: #1E1E1E;
}
.table-feature-item p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    padding-top: 26px;
    padding-right: 28px;
}
.table-feature-item span{
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    color: #6F6F6F;
}

.third-party-apps{
    width: 100%;
    max-width: 1360px;
    min-height: 368px;
    background-color: #E0EBF4 ;
    border-radius: 22px;
}
.third-party-apps-text{
    width: 100%;
    max-width: 1320px;
    height: 22px;
    text-align: center;
    padding-top: 64px;
    padding-left: 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    font: var(--maint-font);

}
.third-party-apps-icons{
    width: 100%;
    max-width: 1320px;
    min-height: 164px;
    margin-top: 96px;
    margin-left: 20px;
    padding-right: 58px;
    padding-left: 58px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid #B8CFE5;

}
.icons-item{
    width: 217px;
    height: 140px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}
.stripe{
    background-color: #635BFF;
}
.stripe img{
    width: 105px;
    height: 45px;
}
.square{
    background-color: #C9E8F5;
}
.square img{
    width: 142px;
    height: 36px;
}
.zapier{
    background-color: #201515;
}
.zapier img{
    width: 138px;
    height: 43px;
}
.paypal{
    background-color: #FFD140;
}
.paypal img{
    width: 136px;
    height: 38px;
}
.ga{
    background-color: #FFFFFF;
}
.ga img{
    width: 135px;
    height: 47px;
}

.support{
    width: 100%;
    max-width: 1360px;
    min-height: 744px;
    margin-top: 40px;
    border-radius: 22px;
    background-color: #283849;
}


/* -------Mobile View-------------- */